body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL1LkzEOh-Z0PS89dLGXidOH7ifVK4NfUAzMlbwACa6Nxjbm8G&s");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}