<h1>Child Component</h1><br><br>
<p>Fullname: <span>{{fname}}</span></p><br>
<p>Enrolled: <span>{{Nrld}}</span></p><br>
<p>Gender: <span>{{gndr}}</span></p><br>
<button class="b1" (click)=" onChange(yes);approved()">Approved</button>
<button class="b2" (click)=" onChange(no);declined()">Declined</button>
<h2>List of Approaved</h2>
<ul>
    <li *ngFor="let x of list">name: {{x.name}} status: {{x.status}} gender: {{x.gender}}</li>
</ul>