#keywords thead {
    background: #c9dff0;
  }
  #keywords thead tr th { 
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
  }
  #keywords{
      width: 100%;
      text-align: center;
  }
  h1{
      text-align: center;
  }
  