<div id="wrapper">
    <h1><span> Registered Persons </span></h1>

    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th *ngFor="let col of columns">
                    {{col}}
                </th>
            </tr>
        </thead><br>
        <tbody>
            <tr *ngFor="let reg of retrieved">
                <td>
                    {{reg.id}}
                </td>
                <td>
                    {{reg.name}}
                </td>
                <td>
                    {{reg.email}}
                </td>
                <td>
                    {{reg.company.name}}
                </td>
                <br><br><br>
            </tr>
        </tbody>
    </table>
</div>