#error{
    color:red;
}
.form{
    margin-left: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    height: 70%;
    width: 40%;
    font-family: PT Sans, sans-serif;
    overflow: hidden;
    border-radius: 1.5rem/2rem;
    box-shadow: 8px 10px 16px rgba(0,0,0,0.1);
    transform: translateZ(0); 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTii4nuFAo1i4G9e3-BgdUMDOP4eJpsivuwi37a5sBlAAlY_tuXfw&s");
}
.form2{
    margin-left: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    height: 70%;
    width: 40%;
    font-family: PT Sans, sans-serif;
    overflow: hidden;
    border-radius: 1.5rem/2rem;
    box-shadow: 8px 10px 16px rgba(0,0,0,0.1);
    transform: translateZ(0); 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSQb2uV-rkyjCyMXg_RC9h60kk5fJcwbAmCtECYBacOSXtGGnY&s");
}