<h1>TEMPLATE-DRIVEN FORM</h1><br>
<div [hidden]="condition ? !newTrustFormVisible: newTrustFormVisible" class="form">
<form (ngSubmit)="onSubmit()" #form="ngForm" >

    Name: <input type="text" name="name" [(ngModel)]="fname" required #Nname="ngModel" />
    <div *ngIf="Nname.invalid && (Nname.dirty || Nname.touched)" class="alert alert-danger">
        <div id="error" *ngIf="Nname.errors.required">
            *Name is required.
        </div>
    </div>

<br><br>
    Email: <input type="email" name="Ename" [(ngModel)]="email" required #Ename="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
    <div *ngIf="Ename.invalid && (Ename.dirty || Ename.touched)" class="alert alert-danger"  >
        <div id="error" *ngIf="Ename.errors && Ename.errors.required">
            *Email is required.
        </div>
        <div id="error" *ngIf="Ename.errors && Ename.errors?.pattern">
            *Email is invalid.
        </div>
    </div>

<br><br>
    Gender: <select name="Gname" [(ngModel)]="genderValue" required #Gname="ngModel">
        <option value="female">
            female
        </option>
        <option value="male">
            male
        </option>
    </select>
    <div *ngIf="Gname.invalid && (Gname.dirty || Gname.touched)" class="alert alert-danger">
        <div id="error" *ngIf="Gname.errors.required">
            *Gender is required.
        </div>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="form.invalid">Submit</button>
</form>
</div>

<div class= "submittedInfo" [hidden]="condition ? newTrustFormVisible: !newTrustFormVisible" class="form2">
    <p>Name: {{name}}</p><br>
    <p>Email: {{EmailAdd}}</p><br>
    <p>Gender: {{Gender}}</p><br>
    <button (click)="Edit()">Edit</button>

</div>