<h1>Parent Component</h1><br><br>
<input type="text" [(ngModel)]="Name" /><br><br>
Enrolled? <input type="checkbox" [(ngModel)]="yuhh" (change)="changed()" /><br><br>
Gender:
<select class="gender" [(ngModel)]="genderValue">
    <option value=" ">

    </option>
    <option value="female">
        female
    </option>
    <option value="male">
        male
    </option>
</select><br><br>
<button class="submit" (click)="Submit()">Submit</button><br><br>
<p *ngIf="Cdata">Notifications: <span>{{Cdata}}</span></p><br><br><br><br>
<h2>List of Declined</h2>
<ul>
    <li *ngFor="let x of array">name: {{x.name}} status: {{x.status}} gender: {{x.gender}}</li>
</ul>

<hr />
<app-admin (Cevent)="Cdata=$event" (dclndEvent)="RjctedPepz=$event;declined()" [fname]="FullN" [Nrld]="isEnrolled" [gndr]="FinalG"></app-admin>