<h1>DATA-DRIVEN FORM</h1><br>
<div class="form" style="text-align:center">
<form [formGroup]= "reactiveform" #form="ngForm" (ngSubmit)="submit()">
    <label>
        firstname:
        <input type="text" formControlName="firstname" [(ngModel)]="First"/>
    </label><br><br>
    <label>
        lastname:
        <input type="text" formControlName="lastname" [(ngModel)]="last"/>
    </label><br><br>
    <label>
        Email:
        <input type="email" formControlName="email" [(ngModel)]="mail"/>
    </label><br><br>
    <br>
    <h2>Address</h2>
    <br>
    <label>
        Street:
        <input type="text" formControlName="Street" [(ngModel)]="strt"/>
    </label><br><br>
    <label>
        City:
        <input type="text" formControlName="City" [(ngModel)]="ct"/>
    </label><br><br>
    <label>
        State:
        <input type="text" formControlName="State" [(ngModel)]="stit"/>
    </label><br><br>
    <label>
        Zip Code:
        <input type="number" formControlName="Code" [(ngModel)]="Zip"/>
    </label><br><br>

    <button type="submit" class="btn btn-default" [disabled]="reactiveform.invalid" >Submit</button>
</form>
</div>
<br><hr/>
<p>{{gson |json}}</p>