.form{
    margin-left: 30%;
    padding: 30px;
    height: 70%;
    width: 40%;
    font-family: PT Sans, sans-serif;
    overflow: hidden;
    border-radius: 1.5rem/2rem;
    box-shadow: 8px 10px 16px rgba(0,0,0,0.1);
    transform: translateZ(0); 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFQchU4dLCr-2jSVrlMSfVPIJJqXmcgVXcP9xI59G9P2ox6Xa6&s");
}
label{
    color:red;
}
     