<body style="text-align:center" >
<div >
    <!-- <app-student></app-student> -->
    <!-- <app-template-driven></app-template-driven>
    <br><hr />
    <app-data-driven></app-data-driven> -->
    <app-http-sample></app-http-sample>
</div>
</body>